<%= turbo_frame_tag notice do %>
  <div class="center-block bg-light">
    <div class="text-center">
      <p>以下の変更を承認しますか？</p>
      <p><%= "家族名：#{family.family_name} -> #{new_data.name}" %></p>
      <p><%= "ニックネーム：#{family.family_nickname} -> #{new_data.nickname}" %></p>
      <p><%= "お小遣い予算：#{family.budget} -> #{new_data.budget}" %></p>
    </div>
    <div class="row">
      <div class="col-6 text-center">
        <%= button_to '承認', approve_family_path(request), class: 'btn btn-primary' %>
      </div>
      <div class="col-6 text-center">
        <%= button_to '拒否', refuse_family_path(request), class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
