<div class="container-fluid bg-light">
  <div class="center-block">
    <div class="text-center">
      <h1>新しいタスクの登録</h1>
    </div>
  </div>
  <div class="center-block">
    <div class="">
    <% if @task.errors.any? %>
      <div class="bg-danger">
        <%= @task.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </div>
    <% end %>
      <ul>
        <%= form_with model: @task, url: family_tasks_path(@family) do |f| %>
          <%= render partial: 'shared/task_form', locals: { f: f } %>
          <div class="text-center">
            <%= f.submit '登録', class: "btn btn-success my-2" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>