<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h1>設定</h1>
    </div>
  </div>
  <div class="center-block">
    <div class="col-8 offset-2">
      <ul>
      <li><%= link_to 'タスク内容の変更', family_tasks_path %></li>
      <li><%= link_to 'お小遣いの変更', edit_budget_families_path %></li>
      <li><%= link_to '自分のプロフィール', profile_family_users_path %></li>
      <li><%= link_to '家族のプロフィール', new_family_task_path %></li>
      <li><%= link_to 'お子様のプロフィール(未実装)', new_family_task_path %></li>
      <li><%= link_to '家族の招待', new_family_task_path %></li>
      </ul>
    </div>
  </div>
</div>
