<% content_for(:title, '設定') %>
<div class="container-fluid">
  <div class="center-block">
    <div class="text-center"><h1>設定</h1></div>
    <div class="col-10 offset-1">
      <ul>
        <li><%= link_to 'タスク管理', family_categories_path %></li>
        <li><%= link_to '自分のプロフィール', family_user_profile_path %></li>
        <li><%= link_to '家族のプロフィール・お小遣い', family_profile_path %></li>
        <li><%= link_to '家族の招待', family_invitation_path %></li>
      </ul>
      <div class="text-center"><%= button_to 'ログアウト', logout_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'サインアウトしますか？' } %></div>
    </div>
  </div>
</div>
