<% content_for(:title, '設定') %>
<div class="container-fluid">
  <div class="center-block">
    <div class="text-center bg-light py-2"><h1>設定</h1></div>
    <div class="bg-light">
        <div class="bg-secondary-subtle py-2 ps-2"><%= link_to 'タスク管理', family_categories_path, class:"text-decoration-none link-dark wide-link" %></div>
        <div class="py-2 ps-2"><%= link_to '自分のプロフィール', family_user_profile_path, class:"text-decoration-none link-dark wide-link" %></div>
        <div class="bg-secondary-subtle py-2 ps-2"><%= link_to '家族のプロフィール・お小遣い', family_profile_path, class:"text-decoration-none link-dark wide-link" %></div>
        <div class="py-2 ps-2"><%= link_to '家族の招待', family_invitation_path, class:"text-decoration-none link-dark wide-link" %></div>
      </ul>
      <div class="text-center bg-secondary-subtle"><%= button_to 'ログアウト', logout_path, class: 'btn btn-danger my-2', method: :delete, data: { confirm: 'ログアウトしますか？' } %></div>
    </div>
  </div>
</div>
