<footer class="footer bg-light">
    <div class="container-fluid fixed-bottom d-flex justify-content-around flex-nowrap">
      <div style="15px" class="d-flex">
        <div class="navbar-brand d-flex justify-content-around">
          <%= link_to 'ホーム', family_path(@family), class: 'text-decoration-none link-dark' %>
          <%= link_to '履歴', family_records_path(@family), class: 'text-decoration-none link-dark' %>
          <%= link_to '記録', new_family_record_path(@family), class: 'text-decoration-none link-dark' %>
          <%= link_to '登録', menu_family_tasks_path(@family), class: 'text-decoration-none link-dark' %>
          <%= link_to '設定', family_configuration_path(@family), class: 'text-decoration-none link-dark' %>
        </div>
      </div>
    </div>
</footer>