<div class="form-group">
  <%= f.label :name, '名前(必須)' %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :nickname, 'ニックネーム' %>
  <%= f.text_field :nickname, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, 'メールアドレス(次回ログイン時に必要です)' %>
  <%= f.email_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password, 'パスワード(次回ログイン時に必要です)' %>
  <%= f.password_field :password, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, 'パスワード確認' %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
