          <li>
            <%= f.label :category_id, 'カテゴリ：' %>
            <%= f.collection_select :category_id, Category.where(family_id: @family.id), :id, :name %>
          </li>
          <li>
            <%= f.label :title, 'タスク名(必須)：' %>
            <%= f.text_field :title, class: 'form-control' %><br>
          </li>
          <li>
            <%= f.label :description, 'タスク詳細：' %>
            <%= f.text_field :description, class: 'form-control' %><br>
          </li>
          <li>
            <%= f.label :points, '基礎ポイント(必須)：' %>
            <%= f.number_field :points %>pt<br>
          </li>