          <li>
            <%= f.label :category_id, 'カテゴリ：' %>
            <%= f.collection_select :category_id, @categories, :id, :name, prompt: '選択してください' %>
          </li>
          <li>
            <%= f.label :title, 'タスク：' %>
            <%= f.text_field :title, class: 'form-control' %><br>
          </li>
          <li>
            <%= f.label :description, 'タスク詳細：' %>
            <%= f.text_field :description, class: 'form-control' %><br>
          </li>
          <li>
            <%= f.label :points, '基礎ポイント：' %>
            <%= f.number_field :points %>pt<br>
          </li>