<%= turbo_frame_tag task do %>
  <div class="row bg-secondary-subtle py-2 mx-auto">
    <div class="col-1 my-auto"></div>
    <div class="col-6 my-auto"><%= task.title %></div>
    <div class="col-2 my-auto"><%= task.points %></div>
    <div class="col-3">
      <!--<%= form_with model: @task_user, url: family_records_path(@family) do |f| %>-->
      <%= f.number_field "tasks[#{task.id}][count]", class: 'form-control', value: record.count, data: { task_id: task.id } %>
      <%= hidden_field_tag "tasks[#{task.id}][id]", task.id %>
      <%= hidden_field_tag "task_id", task.id %>
      <!--<% end %>-->
    </div>
  </div>
<% end %>