<%= link_to family_record_path(task.user.family, task) do %>
  <tr>
    <div class="center-block">
      <td><%= task.user.nickname.present? ? task.user.nickname : task.user.name %></td>
      <td><%= task.task.title %></td>
      <td><%= task.task.points %></td>
      <td><%= task.created_at %></td>
    </div>
  </tr>
<% end %>