<!--記録するタスクの詳細を表示してカウント数を入力・記録するページ-->
<%= turbo_frame_tag @task do %>
<div class="bg-secondary-subtle py-2 my-2 mx-auto rounded">
  <%= link_to task_index_family_record_path(@family, @category), class: "text-decoration-none text-body" do %>
    <div class="row pb-2 mx-auto border-bottom border-secondary">
      <div class="col-1">▼</div>
      <div class="col-8"><%= @task.title %></div>
      <div class="col-3"><%= @task.points %></div>
    </div>
  <% end %>
  <%= render partial: 'shared/show_task', locals: { task: @task } %>
  <%= form_with model: @task_user, url: task_users_family_task_path(@family, @task) do |f| %>
    <%= f.label :count, 'カウント：' %>
    <%= f.number_field :count, value: 1 %><br>
    <div class="text-center">
      <%= f.submit '記録する', class: "btn btn-success my-2", data: { turbo_frame: '_top' } %>
    </div>
  <% end %>
</div>
<% end %>