<!--記録するタスクの詳細を表示してカウント数を入力・記録したいページ-->
<div class="container-fluid">
  <%= render partial: 'shared/show_task', locals: { task: @task } %>
  <div class="">
    <div class="">
      <%= form_with model: @task_user, url: task_users_family_task_path, local: true do |f| %>
        <%= f.label :count, 'カウント：' %>
        <%= f.number_field :count, value: 1 %>
        <%= f.select :count_name, {'回': 0, '時間': 1}, { selected: 0 } %><br>
        <%= f.submit '記録する', method: :post %>
      <% end %>
      <!--<%= button_to '記録する', task_users_family_task_path %>-->
    </div>
  </div>
</div>
